*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body{
    background-color: rgb(22, 129, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1{
    color: white;
    font-size: 80px;
}